{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier", "unicorn", "import"],
    "extends": [
      "airbnb-typescript",
      "plugin:@typescript-eslint/recommended",
      "plugin:unicorn/recommended",
      "plugin:prettier/recommended",
      "prettier",
      "prettier/@typescript-eslint"
    ],
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "tsconfigRootDir": "./",
      "project": ["tsconfig.json"],
      "plugin": "@typescript-eslint/recommended-requiring-type-checking"
    },
    "env": {
      "es6": true,
      "browser": true,
      "node": true
    },
    "rules": {
      "no-debugger": "off",
      "no-console": 0
    }
  }